body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    background: url('https://cdn.wallpapersafari.com/99/59/XwZzLI.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #ece5e5;
    border-top: ipx solid #e2dcdc;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.pb {
    color: goldenrod;
    font-size: 3rem;
}

.indexOutput {
    font-size: 1rem;
    color: white;
    /* background-color: white; */
    cursor: pointer;
    box-shadow: #888888;
    border-radius: 5px;
    /* margin: 10px;
    padding: 10px; */

    background-image:
        linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
        url('https://theultralinx.com/.image/t_share/MTQ3ODYzNTUzMTM3NzE0Mjc4/envelope-blue.jpg');
}

header a {
    color: #ffffff;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px
}

button {
    cursor: pointer;
    border: 1px solide #888888;
    background: #888888;
    color: white;
    padding: 8px;
}